<div id="signIn" class="container-text">
    Sign In
</div>

<form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="+oBSEiuDtEjzN1C+avUX207/+oQ9Ql4B+cSia9mVuAr9tlwaXwGp99Ka215ZmGp3rDHj2JQMPFKk1xXa2qA3pA==">

<div class="formcontainers">
  <div class="formfields">
    <input class="texter" name="user[email]" placeholder="Email" required />
    <label class="formlabel">Email</label>
    <span class="top-move"></span>
    <span class="bottom-move"></span>
    <span class="side-move"></span>
  </div>


  <div class="formfields">
    <input autocomplete="off" id="password3" class="texter" name="user[password]" placeholder="Password" required />
    <label class="formlabel">Password</label>
    <span class="top-move"></span>
    <span class="bottom-move"></span>
    <span class="side-move"></span>
  </div>

<div class="formfields">
  <div class="mountainbutton">
    <p><input type="submit" name="commit" value="Sign In" data-disable-with="Sign In"></p>
  </div>
</div>

</form>
</div>