<div class="userIndexContain">
  <% @users.each do |user| %>
    <div class="userIndex">
        <div class="userIndexImg">
          <%= image_tag(user.image) if user.image? %>
        </div>
      <div class="userIndexText">
        <%= link_to user.first_name + " " + user.last_name, user %>
      </div>
      <div class="userIndexImgOverlay"></div>
    </div>
  <% end %>
</div>