<div class="eventSearchList"></div>

<form>
	<label for="city">City:</label>
	<input name="city" type="text" class="searchCity" />
	<label for="state">State:</label>
	<input name="state" type="text" class="searchState" />
	<label for="category">Category:</label>
	<input name="category" type="text" class="searchCategory" />
	<label for="start_date">Date:</label>
	<input name="start_date" type="text" class="searchDate" />
	<input type="submit" value="Search" id="submit" />
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

document.addEventListener("DOMContentLoaded", function() {
  document.querySelector("form").addEventListener("submit", function(event) {
    event.preventDefault();
    eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, document.querySelector(".searchCategory").value, document.querySelector(".searchDate").value);
  })
  function eventSearch (city, state, category, start_date) {
	axios({
	method: 'get',
	url: 'http://api.amp.active.com/v2/search/?',
    params: {
      city: city,
      state: state,
      category: category,
      start_date: start_date,
      api_key: "f22xnqt8nbeqk9dutzr86pk9",
      exists: "assetName",
      exists: "activityStartDate",
      exists: "place.addressLine1Txt",
      exists: "place.cityName",
      exists: "place.stateProvinceCode",
      exists: "assetDescriptions"
    }
}).then(response => {
    console.log(response.data.results);
	response.data.results.forEach( row => {
	document.querySelector(".eventSearchList").innerHTML += 
		"<a><h1 class='name'>" + row.assetName + "</h1></a>" +
		"<p class='description'>" + row.assetDescriptions[0].description + "</p>" +
		"<p class='date'>" + row.activityStartDate + "</p>" +
		"<p class='street'>" + row.place.addressLine1Txt + "</p>" +
		"<p class='city'>" + row.place.cityName + "</p>" +
		"<p class='state'>" + row.place.stateProvinceCode + "</p>";

	for(var i=0; i<response.data.results.length; i++) {

	var newForm = document.createElement("FORM");
	newForm.setAttribute("class", "event_form");
	newForm.setAttribute("action", "/events");
	newForm.setAttribute("method", "post");
	document.body.appendChild(newForm);

    var newInput = document.createElement("INPUT");
    newInput.setAttribute("name", "event[name]");
    newInput.setAttribute("class", "event_name");
    newForm.appendChild(newInput);

    var newInput2 = document.createElement("INPUT");
    newInput2.setAttribute("name", "event[description]");
    newInput2.setAttribute("class", "description");
    newForm.appendChild(newInput2);

    var newInput3 = document.createElement("INPUT");
    newInput3.setAttribute("name", "event[start_date]");
    newInput3.setAttribute("class", "start_date");
    newForm.appendChild(newInput3);

    var newInput4 = document.createElement("INPUT");
    newInput4.setAttribute("name", "event[street]");
    newInput4.setAttribute("class", "street");
    newForm.appendChild(newInput4);

    var newInput5 = document.createElement("INPUT");
    newInput5.setAttribute("name", "event[city]");
    newInput5.setAttribute("class", "city");
    newForm.appendChild(newInput5);

    var newInput6 = document.createElement("INPUT");
    newInput6.setAttribute("name", "event[state]");
    newInput6.setAttribute("class", "state");
    newForm.appendChild(newInput6);

    document.querySelector(".event_name").value = row.assetName;
	document.querySelector(".description").value = row.assetDescriptions[0].description;
	document.querySelector(".start_date").value = row.activityStartDate;
	document.querySelector(".street").value = row.place.addressLine1Txt;
	document.querySelector(".city").value = row.place.cityName;
	document.querySelector(".state").value = row.place.stateProvinceCode;

	newForm.submit();

	function formSubmit() {
		document.querySelector(".event_form").submit();
	}

    setTimeout(formSubmit, 10);
}
})
});
}
});
</script>

<!-- <form class ="event_form" action="/events" method="post">
	<input name=event[name] class="event_name"></input>
	<input name=event[description] class="description"></input>
	<input name=event[start_date] class="start_date"></input>
	<input name=event[street] class="street"></input>
	<input name=event[city] class="city"></input>
	<input name=event[state] class="state"></input>
	<input type="submit" />
</form> -->