<style>
  .logo,
  footer {
    display: none;
  }
  body {
    padding-bottom: 0;
  }
</style>

<%= video_tag "Into_the_Wild.mp4", autoplay: true, loop: true %>

<script>
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

<div class="eventSearchList"></div>
<div class="nextContain">
  <h1 class="next"></h1>
  <h1 class="next2"></h1>
  <h1 class="next3"></h1>
  <h1 class="next4"></h1>
  <button class="backToTop" onclick="topFunction()">Back to Top</button>
  <button class="anotherSearch"><%= link_to "Search Again", root_path %></button>
  <h1 class="noMoreResults"></h1>
</div>

<!-- form for user to search for events by city, state, category, and date -->
<div class="homeFormContain">
<div class="landingHeader"><h1>Where To?</h1></div>
<div class="landingHeaderText"><h3>Your guide to the great outdoors and living an active lifestyle</h3></div>
<form>
  <input name="city" type="text" class="searchCity" placeholder="City" />
  <input name="state" type="text" class="searchState" placeholder="State" />
    <select name="category" class="searchCategory" placeholder="category">
    <option class="searchCategory"></option>
    <option value="outdoors" class="searchCategory">outdoors</option>
    <option value="kayaking" class="searchCategory">kayaking</option>
    <option value="rafting" class="searchCategory">rafting</option>
    <option value="sailing" class="searchCategory">sailing</option>
    <option value="hiking" class="searchCategory">hiking</option>
    <option value="climbing" class="searchCategory">climbing</option>
    <option value="fishing" class="searchCategory">fishing</option>
    <option value="hunting" class="searchCategory">hunting</option>
    <option value="camping" class="searchCategory">camping</option>
    <option value="surfing" class="searchCategory">surfing</option>
    <option value="skiing" class="searchCategory">skiing</option>
    <option value="snowboarding" class="searchCategory">snowboarding</option>
    <option value="mountain biking" class="searchCategory">mountain biking</option>
    <option value="walking" class="searchCategory">walking</option>
    <option value="fitness" class="searchCategory">fitness</option>
    <option value="running" class="searchCategory">running</option>
    <option value="cycling" class="searchCategory">cycling</option>
    <option value="swimming" class="searchCategory">swimming</option>
    <option value="baseball" class="searchCategory">baseball</option>
    <option value="basketball" class="searchCategory">basketball</option>
    <option value="soccer" class="searchCategory">soccer</option>
    <option value="football" class="searchCategory">football</option>
    <option value="hockey" class="searchCategory">hockey</option>
    <option value="lacrosse" class="searchCategory">lacrosse</option>
    <option value="softball" class="searchCategory">softball</option>
    <option value="dance" class="searchCategory">dance</option>
    <option value="zumba" class="searchCategory">zumba</option>
    <option value="yoga" class="searchCategory">yoga</option>
    <option value="pilates" class="searchCategory">pilates</option>
    <option value="recreation" class="searchCategory">recreation</option>
  </select>
  <input name="start_date" type="date" class="searchDate" />
  <div class="search">
   <input type="submit" value="Search" id="submit" />
  </div>
</form>
<div class="continue"><%= link_to "Continue to Site >>", home_path %></div>
</div>

<script>

var i = 0;
var eventsArray = [];
var todaysDate = '<%= Date.today %>..';
var searchDate;
var arrayIDS = [];

document.addEventListener("DOMContentLoaded", function() {
  document.querySelector("form").addEventListener("submit", function(event) {
    event.preventDefault();
    searchDate = document.querySelector(".searchDate").value + "..";
    eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, 1, document.querySelector(".searchCategory").value, searchDate);
  })
  function eventSearch (city, state, current_page, topic, start_date) {
  if (searchDate.length == 2) {
    console.log(searchDate.length);
    start_date = todaysDate;
    console.log(start_date);
  }
  axios({
  method: 'get',
  url: 'http://api.amp.active.com/v2/search/?',
    params: {
      city: city,
      state: state,
      current_page: current_page,
      per_page: 6,
      sort: "date_asc",
      topic: topic,
      start_date: start_date,
      exclude_children: "true",
      exists: "assetDescriptions",
      api_key: "f22xnqt8nbeqk9dutzr86pk9"
    }
}).then(response => {
  if (response.data.results.length == 0) {
    document.querySelector(".noMoreResults").innerHTML = "End of Results";
  } else {
  document.querySelector(".next").innerHTML = "Load More";
  document.querySelector("video").style.display = "none";
  document.querySelector(".landingHeader").style.display = "none";
  document.querySelector(".landingHeaderText").style.display = "none";
  document.querySelector(".homeFormContain").style.display = "none";
  document.querySelector(".continue").style.display = "none";
  document.querySelector(".noMoreResults").innerHTML = "";
  console.log(response.data.results);
  response.data.results.forEach( row => {

// for each row, a new event form is created along with its inputs/values

  var eventSave = [];
  var eventInput1 = [];
  var eventInput2 = [];
  var eventInput3 = [];
  var eventInput4 = [];
  var eventInput5 = [];
  var eventInput6 = [];
  var eventInput7 = [];

// variable i is incrementing to create a new form(with new inputs) in the eventSave array on each iteration of the loop
  i++;

  eventSave.push(i);
  eventInput1.push(i);
  eventInput2.push(i);
  eventInput3.push(i);
  eventInput4.push(i);
  eventInput5.push(i);
  eventInput6.push(i);
  eventInput7.push(i);

  eventSave[i] = document.createElement("FORM");
  eventSave[i].setAttribute("class", "event_form");
  eventSave[i].setAttribute("name", "form");
  eventSave[i].setAttribute("action", "/events");
  eventSave[i].setAttribute("method", "post");

    eventInput1[i] = document.createElement("INPUT");
    eventInput1[i].setAttribute("name", "event[name]");
    eventInput1[i].setAttribute("class", "event_name");
    eventInput1[i].setAttribute("value", row.assetName);
    eventSave[i].appendChild(eventInput1[i]);

    eventInput2[i] = document.createElement("INPUT");
    eventInput2[i].setAttribute("name", "event[description]");
    eventInput2[i].setAttribute("class", "description");
    eventInput2[i].setAttribute("value", row.assetDescriptions[0].description.replace(/(<([^>]+)>)/ig," "));
    eventSave[i].appendChild(eventInput2[i]);

    eventInput3[i] = document.createElement("INPUT");
    eventInput3[i].setAttribute("name", "event[start_date]");
    eventInput3[i].setAttribute("class", "start_date");
    eventInput3[i].setAttribute("value", row.activityStartDate);
    eventSave[i].appendChild(eventInput3[i]);

    eventInput4[i] = document.createElement("INPUT");
    eventInput4[i].setAttribute("name", "event[street]");
    eventInput4[i].setAttribute("class", "street");
    eventInput4[i].setAttribute("value", row.place.addressLine1Txt);
    eventSave[i].appendChild(eventInput4[i]);

    eventInput5[i] = document.createElement("INPUT");
    eventInput5[i].setAttribute("name", "event[city]");
    eventInput5[i].setAttribute("class", "city");
    eventInput5[i].setAttribute("value", row.place.cityName);
    eventSave[i].appendChild(eventInput5[i]);

    eventInput6[i] = document.createElement("INPUT");
    eventInput6[i].setAttribute("name", "event[state]");
    eventInput6[i].setAttribute("class", "state");
    eventInput6[i].setAttribute("value", row.place.stateProvinceCode);
    eventSave[i].appendChild(eventInput6[i]);

    eventInput7[i] = document.createElement("INPUT");
    eventInput7[i].setAttribute("name", "event[category]");
    eventInput7[i].setAttribute("class", "category");
    eventInput7[i].setAttribute("value", document.querySelector(".searchCategory").value);
    eventSave[i].appendChild(eventInput7[i]);

    document.body.appendChild(eventSave[i]);
    eventsArray.push(eventSave[i]);

// after a form is created, it is submitted to the database using ajax
$.ajax({
  'async': false,
  type: 'POST',
  url: '/events',
  data: $("form").serialize(), 
  dataType: "json",
  success: function(response){
    console.log("event added to database");
    var eventID = response.id;
    arrayIDS.push(eventID);
  }
});

    var options2 = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    var options = { day: 'numeric', month: 'short' };
    var date = new Date(row.activityStartDate);

    document.querySelector(".logo").style.display = "block";

    //after the event is saved to the datebase, the DOM is updated with events returned from the search
    document.querySelector(".eventSearchList").innerHTML +=
    "<div class='singleEvent'><h1 class='name'>" + row.assetName + "</h1>" +
    "<p class='date'>" + date.toLocaleDateString("en-US", options) + "</p>" + 
    "<p class='moreInfo'>More Information</p></div>" +
    "<div class='singleEventBack' style='display:none'>" +
    "<p class='close'>&times;</p>" +
    "<h1 class='name'>" + row.assetName + "</h1>" +
    "<hr></hr>" +
    "<p class='date'>" + date.toLocaleDateString("en-US", options2) + "</p>" + 
    "<p class='street'>" + row.place.addressLine1Txt + "</p>" + " " +
    "<p class='city'>" + row.place.cityName + ", <span class='state'>" + row.place.stateProvinceCode + "</span></p>" + 
    "<p class='description'>" + row.assetDescriptions[0].description.replace(/(<([^>]+)>)/ig," ").slice(0, 100) + "......</p>" +
    "<p class='eventLink'><a target= '_blank' href='/events/" + arrayIDS.slice(-1) + "''>Go To Activity Page</a></p>" +
    "</div>";
})

//when you click on an events "More Info", all events are hidden and the selected events "info" is being displayed
function displayNone() {
  // for (var i = 0; i < document.querySelectorAll(".singleEvent").length; i++){
  //   document.querySelectorAll(".singleEvent")[i].style.display = "none";
  // }
}

function displayBlock(index) {
  document.querySelectorAll(".singleEventBack")[index].style.display = "block";
  // document.querySelector(".nextContain").style.display = "none";
  // document.querySelector("nav").style.display = "none";
}

var selectInfo = document.querySelectorAll(".moreInfo");

if (selectInfo[0]) {
  selectInfo[0].addEventListener("click", function() {
    displayNone();
    displayBlock(0);
  })
}

if (selectInfo[1]) {
  selectInfo[1].addEventListener("click", function() {
    displayNone();
    displayBlock(1);
  })
}

if (selectInfo[2]) {
  selectInfo[2].addEventListener("click", function() {
    displayNone();
    displayBlock(2);
  })
}

if (selectInfo[3]) {
  selectInfo[3].addEventListener("click", function() {
    displayNone();
    displayBlock(3);
  })
}

if (selectInfo[4]) {
  selectInfo[4].addEventListener("click", function() {
    displayNone();
    displayBlock(4);
  })
}

if (selectInfo[5]) {
  selectInfo[5].addEventListener("click", function() {
    displayNone();
    displayBlock(5);
  })
}

if (selectInfo[6]) {
  selectInfo[6].addEventListener("click", function() {
    displayNone();
    displayBlock(6);
  })
}

if (selectInfo[7]) {
  selectInfo[7].addEventListener("click", function() {
    displayNone();
    displayBlock(7);
  })
}

if (selectInfo[8]) {
  selectInfo[8].addEventListener("click", function() {
    displayNone();
    displayBlock(8);
  })
}

if (selectInfo[9]) {
  selectInfo[9].addEventListener("click", function() {
    displayNone();
    displayBlock(9);
  })
}

if (selectInfo[10]) {
  selectInfo[10].addEventListener("click", function() {
    displayNone();
    displayBlock(10);
  })
}

if (selectInfo[11]) {
  selectInfo[11].addEventListener("click", function() {
    displayNone();
    displayBlock(11);
  })
}

if (selectInfo[12]) {
  selectInfo[12].addEventListener("click", function() {
    displayNone();
    displayBlock(12);
  })
}

if (selectInfo[13]) {
  selectInfo[13].addEventListener("click", function() {
    displayNone();
    displayBlock(13);
  })
}

if (selectInfo[14]) {
  selectInfo[14].addEventListener("click", function() {
    displayNone();
    displayBlock(14);
  })
}

if (selectInfo[15]) {
  selectInfo[15].addEventListener("click", function() {
    displayNone();
    displayBlock(15);
  })
}

if (selectInfo[16]) {
  selectInfo[16].addEventListener("click", function() {
    displayNone();
    displayBlock(16);
  })
}

if (selectInfo[17]) {
  selectInfo[17].addEventListener("click", function() {
    displayNone();
    displayBlock(17);
  })
}

if (selectInfo[18]) {
  selectInfo[18].addEventListener("click", function() {
    displayNone();
    displayBlock(18);
  })
}

if (selectInfo[19]) {
  selectInfo[19].addEventListener("click", function() {
    displayNone();
    displayBlock(19);
  })
}

if (selectInfo[20]) {
  selectInfo[20].addEventListener("click", function() {
    displayNone();
    displayBlock(20);
  })
}

if (selectInfo[21]) {
  selectInfo[21].addEventListener("click", function() {
    displayNone();
    displayBlock(21);
  })
}

if (selectInfo[22]) {
  selectInfo[22].addEventListener("click", function() {
    displayNone();
    displayBlock(22);
  })
}

if (selectInfo[23]) {
  selectInfo[23].addEventListener("click", function() {
    displayNone();
    displayBlock(23);
  })
}

if (selectInfo[24]) {
  selectInfo[24].addEventListener("click", function() {
    displayNone();
    displayBlock(24);
  })
}

if (selectInfo[25]) {
  selectInfo[25].addEventListener("click", function() {
    displayNone();
    displayBlock(25);
  })
}

if (selectInfo[26]) {
  selectInfo[26].addEventListener("click", function() {
    displayNone();
    displayBlock(26);
  })
}

if (selectInfo[27]) {
  selectInfo[27].addEventListener("click", function() {
    displayNone();
    displayBlock(27);
  })
}

if (selectInfo[28]) {
  selectInfo[28].addEventListener("click", function() {
    displayNone();
    displayBlock(28);
  })
}

if (selectInfo[29]) {
  selectInfo[29].addEventListener("click", function() {
    displayNone();
    displayBlock(29);
  })
}



//while the info is being diaplyed, if you select close, all events are being shown again and the info is being hidden
function displayInline() {
  // for (var i = 0; i < document.querySelectorAll(".singleEvent").length; i++){
  //   document.querySelectorAll(".singleEvent")[i].style.display = "inline-block";
  // }
}

function displayNoneBack(index) {
  // document.querySelector("nav").style.display = "block";
  document.querySelectorAll(".singleEventBack")[index].style.display = "none";
  // document.querySelector(".nextContain").style.display = "block";
}

var selectClose = document.querySelectorAll(".close");

if (selectClose[0]) {
  selectClose[0].addEventListener("click", function() {
    displayInline();
    displayNoneBack(0);
  })
}

if (selectClose[1]) {
  selectClose[1].addEventListener("click", function() {
    displayInline();
    displayNoneBack(1);
  })
}

if (selectClose[2]) {
  selectClose[2].addEventListener("click", function() {
    displayInline();
    displayNoneBack(2);
  })
}

if (selectClose[3]) {
  selectClose[3].addEventListener("click", function() {
    displayInline();
    displayNoneBack(3);
  })
}

if (selectClose[4]) {
  selectClose[4].addEventListener("click", function() {
    displayInline();
    displayNoneBack(4);
  })
}

if (selectClose[5]) {
  selectClose[5].addEventListener("click", function() {
    displayInline();
    displayNoneBack(5);
  })
}

if (selectClose[6]) {
  selectClose[6].addEventListener("click", function() {
    displayInline();
    displayNoneBack(6);
  })
}

if (selectClose[7]) {
  selectClose[7].addEventListener("click", function() {
    displayInline();
    displayNoneBack(7);
  })
}

if (selectClose[8]) {
  selectClose[8].addEventListener("click", function() {
    displayInline();
    displayNoneBack(8);
  })
}

if (selectClose[9]) {
  selectClose[9].addEventListener("click", function() {
    displayInline();
    displayNoneBack(9);
  })
}

if (selectClose[10]) {
  selectClose[10].addEventListener("click", function() {
    displayInline();
    displayNoneBack(10);
  })
}

if (selectClose[11]) {
  selectClose[11].addEventListener("click", function() {
    displayInline();
    displayNoneBack(11);
  })
}

if (selectClose[12]) {
  selectClose[12].addEventListener("click", function() {
    displayInline();
    displayNoneBack(12);
  })
}

if (selectClose[13]) {
  selectClose[13].addEventListener("click", function() {
    displayInline();
    displayNoneBack(13);
  })
}

if (selectClose[14]) {
  selectClose[14].addEventListener("click", function() {
    displayInline();
    displayNoneBack(14);
  })
}

if (selectClose[15]) {
  selectClose[15].addEventListener("click", function() {
    displayInline();
    displayNoneBack(15);
  })
}

if (selectClose[16]) {
  selectClose[16].addEventListener("click", function() {
    displayInline();
    displayNoneBack(16);
  })
}

if (selectClose[17]) {
  selectClose[17].addEventListener("click", function() {
    displayInline();
    displayNoneBack(17);
  })
}

if (selectClose[18]) {
  selectClose[18].addEventListener("click", function() {
    displayInline();
    displayNoneBack(18);
  })
}

if (selectClose[19]) {
  selectClose[19].addEventListener("click", function() {
    displayInline();
    displayNoneBack(19);
  })
}

if (selectClose[20]) {
  selectClose[20].addEventListener("click", function() {
    displayInline();
    displayNoneBack(20);
  })
}

if (selectClose[21]) {
  selectClose[21].addEventListener("click", function() {
    displayInline();
    displayNoneBack(21);
  })
}

if (selectClose[22]) {
  selectClose[22].addEventListener("click", function() {
    displayInline();
    displayNoneBack(22);
  })
}

if (selectClose[23]) {
  selectClose[23].addEventListener("click", function() {
    displayInline();
    displayNoneBack(23);
  })
}

if (selectClose[24]) {
  selectClose[24].addEventListener("click", function() {
    displayInline();
    displayNoneBack(24);
  })
}

if (selectClose[25]) {
  selectClose[25].addEventListener("click", function() {
    displayInline();
    displayNoneBack(25);
  })
}

if (selectClose[26]) {
  selectClose[26].addEventListener("click", function() {
    displayInline();
    displayNoneBack(26);
  })
}

if (selectClose[27]) {
  selectClose[27].addEventListener("click", function() {
    displayInline();
    displayNoneBack(27);
  })
}

if (selectClose[28]) {
  selectClose[28].addEventListener("click", function() {
    displayInline();
    displayNoneBack(28);
  })
}

if (selectClose[29]) {
  selectClose[29].addEventListener("click", function() {
    displayInline();
    displayNoneBack(29);
  })
}

}
});
}

//Load the next 5 results...
document.querySelector(".next").addEventListener("click", function () {
document.querySelector(".next").style.display = "none";
document.querySelector(".next2").innerHTML = "Load More";
  eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, 2, document.querySelector(".searchCategory").value, searchDate);
});

//Load the next 5 results...
document.querySelector(".next2").addEventListener("click", function () {
document.querySelector(".next2").style.display = "none";
document.querySelector(".next3").innerHTML = "Load More";
  eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, 3, document.querySelector(".searchCategory").value, searchDate);
});

//Load the next 5 results...
document.querySelector(".next3").addEventListener("click", function () {
document.querySelector(".next3").style.display = "none";
document.querySelector(".next4").innerHTML = "Load More";
  eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, 4, document.querySelector(".searchCategory").value, searchDate);
});

//Load the next 5 results...
document.querySelector(".next4").addEventListener("click", function () {
document.querySelector(".next4").style.display = "none";
document.querySelector(".backToTop").style.display = "block";
document.querySelector(".anotherSearch").style.display = "block";
  eventSearch(document.querySelector(".searchCity").value, document.querySelector(".searchState").value, 5, document.querySelector(".searchCategory").value, searchDate);
});

});

</script>