// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-family: 'Karma', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Nunito', sans-serif;

.notice{
  color: #4A7C59;
  font-size: 25px;
  padding: 1%;
}

.navContain {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 5%;

  .logo {
    position: absolute;
    left: 1%;
    top: -20%;

    h1 {
      font-size: 25px;
      position: absolute;
      top: 19px;
      left: 12px;

      a {
        text-decoration: none;
        color: white;
        font-style: italic;
        font-weight: bold;
      }
    }

    img {
      position: absolute;
      top: 0;
      height: 100px;
      width: 100px;
    }
  }
}

nav ul {
  list-style-type: none;

  li {
    display: inline-block;
    padding: 5px;

    a {
      text-decoration: none;
      font-family: 'Raleway', serif;
      color: black;
      font-size: 18px;
    }

    a:hover {
      color: #4A7C59;
    }

    i {
      color: #4A7C59;
    }
  }
}

body {
  position: relative;
}

.userAccount {
  position: absolute;
  top: -2%;
  right: 1.5%;
  cursor: pointer;
  text-align: right;

  #user {
    width: 100%;
    text-align: right;
    font-size: 22px;
    padding-bottom: 6%;
  }

  .userAccountOptions {
    opacity: 0;
    transition: .3s ease;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: #4A7C59;
      }
    }
  }
}

.landingHeader {
  width: 100%;
  text-align: center;
  height: 30%;
  margin-top: 9%;

  h1 {
    font-family: 'Karma', sans-serif;
    letter-spacing: 5px;
    margin: 0;
    font-size: 80px;
  }
}

.landingHeaderText {
  width: 100%;
  text-align: center;

  h3 {
    color: white;
    font-style: italic;
  }
}

.event_form {
	display: none;
}

.home body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

.home video {
  margin-bottom: -10%;
  margin-right: -5%;
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.homeFormContain {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  .search {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    input:hover {
      background-color: #4A7C59;
    }

    input {
      width: 722px;
    }
  }

  .searchDate {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
  }
}

.home #submit {
  color: white;
}

.continue {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #4A7C59;
  }
}

.eventSearchList {
  text-align: center;
  position: relative;

  .singleEvent {
    width: 60%;
    background-color: #C8D5B9;
    height: 110px;
    display: inline-block;
    margin: 1% 1% 0% 1%;
    position: relative;

    .date {
      position: absolute;
      left: 3%;
      top: 0;
      height: 75px;
      width: 50px;
      background-color: #4A7C59;
      color: white;
      font-size: 20px;
    }

    .name {
      font-family: 'Karma', serif;
      letter-spacing: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 25px;
      width: 60%;
    }

    .moreInfo {
      position: absolute;
      bottom: 0;
      right: 2%;
      font-style: italic;
      cursor: pointer;
    }
  }
}

.singleEventBack {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: left;
  background-color: white;
  z-index: 100;

  .name {
    text-align: center;
    padding-top: 2%;
    font-family: 'Karma', serif;
  }

  .date,
  .city,
  .eventLink {
    padding-bottom: 5%;
  }

  .eventLink a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
  }

  .eventLink a:hover {
    color: #4A7C59;
  }

  .date,
  .street,
  .city,
  .description,
  .eventLink {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

.vl {
    border-left: 6px dotted #4A7C59;
    height: 25px;
    position: absolute;
    left: 50%;
    margin-top: -0.45%;
    margin-left: -3px;
}

.next,
.next2,
.next3,
.next4 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.next:hover,
.next2:hover,
.next3:hover,
.next4:hover {
  color: #4A7C59;
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #4A7C59;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1.5%;
  font-size: 30px;
}

.description,
.street,
.city,
.state {
  color: black;
  padding: 0;
  margin: 0;
}

footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #4A7C59;
  margin-top: 10%;
  color: #C8D5B9;
  font-size: 22px;
}