@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 100px;
  font-family: 'Karma', serif;
  font-weight: 900;
  animation: filling 3s ease forwards;
  text-align: center;
}

// .signContain {
//   width: 100%;
//   text-align: center;

//   #signIn {
//     width: 50%;
//     margin: 0 auto;
//     text-align: left;
//   }
// }

.formcontainers {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.formfields {
  position: relative;
  width: 390px;
  z-index: 50;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
    
.texter {
  position: relative;
  z-index: 90;
  width: 90%;
  height: 25px;
}
  
.formlabel {
  position: absolute;
  display: inline;
  top: 0px;
  z-index: 120;
  left: 25px;
  font-size: 14px;
  transition: .5s;
  color: gray;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  opacity: 0;
  z-index: -100;
  height: 25.5px;
}
 
.texter:focus {
  outline: none;
}
  
.texter::-webkit-input-placeholder {
  font-size: 14px;
  padding-left: 8px;
}

.texter:focus::-webkit-input-placeholder {
  opacity: 0;
}
  
.texter:valid ~ label, .texter:focus ~ label {
  color: white;
  transform: translateX(248px);
  background: #649173;
  opacity: 1;
  z-index: 100;
}
  
.texter:active ~ label {
  color: white;
  transform: translateX(248px);
  background: #649173;
}
  
.texter {
  font-size: 18px;
  padding-left: 2px;
}
  
.texter:focus ~ .top-move {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  right: 102px;
  background: #649173;
  z-index: 100;
  animation: border 2s ease forwards;
  @keyframes border
    100% {
      width: 340px;
      height: 2px;
      opacity: 1;
    
  }
}
    
.texter:focus ~ .side-move {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  left: 20px;
  background: #649173;
  z-index: 100;
  animation: border2 2s ease forwards;
  animation-delay: .3s;
  @keyframes border2
    100% {
      width: 2px;
      height: 32px;
      opacity: 1;
    
  }
}

.texter:focus ~ .bottom-move {
  position: absolute;
  opacity: 0;
  top: 30px;
  width: 1px;
  border-radius: 8px;
  height: 1px;
  right: 102px;
  background: #649173;
  z-index: 100;
  animation: border 2s ease forwards;
  @keyframes border
    100% {
      width: 340px;
      height: 2px;
      opacity: 1;
    
  }
}
  
.mountainbutton {
  transition: .8s;
  height: 300px;
  width: 50%;
  background: linear-gradient(#826A54, tan);
  cursor: pointer;
  clip-path: polygon(0% 100%, 14px 70%, 54px 80%, 100px 71%, 123px 74%, 140px 74%, 190px 100%);
  transform: scale(.8);
  border-bottom: 9px solid #80A88D;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -45%;

  &:hover {
    clip-path: polygon(0% 100%, 14px 90%, 54px 70%, 100px 81%, 123px 74%, 140px 67%, 190px 100%);
    color: white;
  }

  p {
    position: relative;
    top: 30px;
    font-weight: bold;

    input {
      border: none;
      font-size: 30px;
    }
  }
}

.mountainbutton2 {
  transition: .8s;
  height: 300px;
  width: 50%;
  background: linear-gradient(#826A54, tan);
  cursor: pointer;
  clip-path: polygon(0% 100%, 14px 70%, 54px 80%, 100px 71%, 123px 74%, 140px 74%, 190px 100%);
  transform: scale(.8);
  border-bottom: 9px solid #80A88D;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -45%;

  &:hover {
    clip-path: polygon(0% 100%, 14px 90%, 54px 70%, 100px 81%, 123px 74%, 140px 67%, 190px 100%);
    color: white;
  }

  p {
    position: relative;
    top: 37px;
    font-weight: 900;

    input {
      border: none;
      font-size: 30px;
      margin-left: -4%;
    }
  }
}

.mountainbutton3 {
  transition: .8s;
  height: 300px;
  width: 50%;
  background: linear-gradient(#826A54, tan);
  cursor: pointer;
  clip-path: polygon(0% 100%, 14px 70%, 54px 80%, 100px 71%, 123px 74%, 140px 74%, 190px 100%);
  transform: scale(.8);
  border-bottom: 9px solid #80A88D;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -45%;

  &:hover {
    clip-path: polygon(0% 100%, 14px 90%, 54px 70%, 100px 81%, 123px 74%, 140px 67%, 190px 100%);
    color: white;
  }

  p {
    position: relative;
    top: 37px;
    font-weight: 900;

    input {
      border: none;
      font-size: 30px;
      margin-left: 10%;
    }
  }
}

.profilePhoto {
  margin-left: 6%;
}

.photoLabel {
  font-weight: normal;
}

#about {
  border-radius: 0px;
  width: 92%;
  height: 100px;
}

input#password {
    -webkit-text-security: disc;
}

input#password2 {
    -webkit-text-security: disc;
}

input#password3 {
    -webkit-text-security: disc;
}

.editHeader {
  width: 100%;
  text-align: center;
}