// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.eventBarContainMain {
	position: relative;
	height: 50px;

	.eventBarContain {
		width: 100%;
		height: 50px;
		border-style: solid;
		position: absolute;
	}

	.eventBar {
		height: 50px;
		background-color: yellow;
		position: absolute;
	}
}