<div id="signIn" class="container-text">
    Sign Up
</div>

<form class="new_user" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="288+dNc1B3RxJTuJ6gJDvCVDSRn6xYLbjYD/g2RyjBlVwJQ1sRTGBuaO1i0HOM6MAY+Lqdn9C8XwZejI8NJM4g==">
  
<div class="formcontainers">
  <div class="formfields">
    <input name="user[first_name]" class="texter" placeholder="First Name" required />
      <label class="formlabel">First Name</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[last_name]" class="texter" placeholder="Last Name" required />
      <label class="formlabel">Last Name</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[email]" class="texter" placeholder="Email" required />
      <label class="formlabel">Email</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <br>
    <input id="password" name="user[password]" class="texter" autocomplete="off" placeholder="Password- must be at least 6 characters" required />
      <label class="formlabel">Password</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input id="password2" name="user[password_confirmation]" class="texter" autocomplete="off" placeholder="Password Confirmation" required />
      <label class="formlabel">Password Confirm</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[facebook]" class="texter" placeholder="Facebook URL" required />
      <label class="formlabel">Facebook</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[twitter]" class="texter" placeholder="Twitter URL" required />
      <label class="formlabel">Twitter</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <input name="user[instagram]" class="texter", placeholder="Instagram URL" required />
      <label class="formlabel">Instagram</label>
      <span class="top-move"></span>
      <span class="bottom-move"></span>
      <span class="side-move"></span>
  </div>

  <div class="formfields">
    <textarea id="about" name="user[about]" class="texter", placeholder="About"></textarea>
  </div>

  <div class="field">
    <label class="photoLabel">Upload Profile Picture</label>
    <input type="file" name="user[image]" class="profilePhoto">
  </div>

<div class="formfields">
  <div class="mountainbutton2">
    <p><input type="submit" name="commit" value="Sign up" data-disable-with="Sign up"></p>
  </div>
</div>

</form>
</div>